.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.458);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.innerContainer {
  width: 35%;
  background-color: white;
  border-radius: 3px;
  animation-name: popup;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #69b7ff;
  color: white;
  border-radius: 5px 5px 0 0;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  gap: 15px;
}
.bodyContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputContainer {
  gap: 10px;
  width: 70%;
}
.character {
  border: 1px solid #69b7ff;
  font-size: 1.2em;
}
.characterInactive {
  background-color: rgb(219, 241, 255);
}
.resendOTP {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.resendOTP > button {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid #69b7ff;
  font-family: poppins;
  cursor: pointer;
}
