.container {
  display: grid;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 70%;
  height: 100%;
  max-height: 70%;
}
.leftContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-image: linear-gradient(120deg, #69b7ff, #ffffff00);
}
.leftContainer > div {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.logoContainer {
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
.registerButton {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registerButton > button {
  width: 200px;
  height: 40px;
  font-size: 1em;
  font-family: poppins;
  outline: none;
  border: none;
  color: white;
  background-color: #30aeec;
  border-radius: 3px;
  transition: all 150ms;
  cursor: pointer;
}
.registerButton > button:hover {
  opacity: 0.8;
}
.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: transparent;
  padding: 20px;
  height: 100%;
}
.registerButton > p {
  color: var(--text-color);
  font-size: 1.2em;
}
.formContainer {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 20px 20px;
  width: 100%;
  max-width: 90%;
  border: 1px solid var(--primaryColor);
  gap: 10px;
  height: 100%;
  border-radius: 5px;
  max-height: 95%;
}
.loginText {
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 5px;
}
.inputGroup input {
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1em;
  padding: 10px 10px;
  background-color: rgb(219, 241, 255);
}
.inputGroup input:focus {
  outline: 2px solid var(--primaryColor);
}
.inputGroup label {
  font-size: 0.8em;
  font-weight: 400;
}
.extraContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 0.8em;
}
.extraContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.extraContainer > div > input {
  transform: scale(1.4);
  margin-left: 2px;
}
.extraContainer > a {
  color: var(--text-color);
}
.loginButton {
  width: 100%;
  background-color: var(--primaryColor);
  height: 35px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-family: poppins;
  font-weight: 500;
  transition: all 150ms;
  cursor: pointer;
  margin-top: 10px;
}
.loginButton:hover {
  opacity: 0.81;
}
.loginButton:active {
  opacity: 1;
}
.break {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.googleLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--primaryColor);
  padding: 5px;
  font-size: 0.9em;
  gap: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease 150ms;
}
.googleLogin:hover {
  opacity: 0.8;
}
.createAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  font-size: 0.9em;
}
a {
  color: black;
}
