.trafficContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 30px;
}
.twoCharts {
  display: flex;
  gap: 10px;
}
.twoCharts > div {
  transition: all 300ms;
  cursor: pointer;
}
.twoCharts > div:hover {
  transform: translateY(-5px);
}
.summaryContainer {
  width: "100%";
  padding: "10px";
  border-radius: 5px;
  display: flex;
  gap: 20px;
  background-color: rgba(45, 86, 251, 0.04);
  align-items: center;
  border: 1px solid rgba(45, 86, 251, 0.311);
}
.imageContainer {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer > img {
  width: 100%;
}
.chartContainer {
  width: 100%;
  height: 600px;
  padding: 5px;
  background-color: rgba(45, 86, 251, 0.04);
  border-radius: 5px;
  border: 1px solid rgba(45, 86, 251, 0.311);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.twoCharts > div:hover > .heading > button {
  opacity: 1;
}
.heading > button {
  background-color: rgba(255, 255, 255, 0.095);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  opacity: 0;
  transition: all 100ms;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.119);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.tableContainer {
  width: 100%;
  height: 600px;
  padding: 5px;
  background-color: rgba(45, 86, 251, 0.04);
  border-radius: 5px;
  border: 1px solid rgba(45, 86, 251, 0.311);
}
.headlines {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
}
.headlines > p {
  font-size: 1.3em;
  font-weight: 500;
  color: white;
}
.headlines > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headlines > div > button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: white;
  align-items: center;

  background-color: rgb(2, 87, 160);
}
