.mainContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.538);
  z-index: 5;
  display: flex;
  align-items: start;
  justify-content: center;
  animation-name: easeIn;
  animation-duration: 150ms;
}
@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  border: 1px solid rgba(13, 40, 158, 0.307);
  background-color: #111111;
  border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 90%;
  gap: 10px;
}
.header {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  padding-top: 20px;
  font-weight: 500;
  padding: 30px 25px;

  color: white;
  border-bottom: 1px solid rgba(38, 99, 255, 0.13);
}
.tableContainer {
  width: 100%;

  padding: 10px 25px;
}
