.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.tableContainer {
  width: 100%;
  overflow-y: scroll;
  padding: 10px 20px;
}
.headlines {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
}
.headlines > p {
  font-size: 1.3em;
  font-weight: 500;
  color: white;
}
.headlines > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headlines > div > button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-family: poppins;
  gap: 5px;
  cursor: pointer;
  color: white;
  align-items: center;
}
.headlines > div > button:nth-child(1) {
  background-color: rgb(2, 87, 160);
}
.headlines > div > button:nth-child(2) {
  background-color: rgb(18, 132, 57);
}
