.mainContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.538);
  z-index: 5;
  display: flex;
  align-items: start;
  justify-content: center;
  animation-name: easeIn;
  animation-duration: 150ms;
}
@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  border: 1px solid rgba(13, 40, 158, 0.307);
  background-color: #111111;
  border-radius: 3px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 70%;
}
.header {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  padding-top: 20px;
  font-weight: 500;
  padding: 30px 25px;

  color: white;
  border-bottom: 1px solid rgba(38, 99, 255, 0.13);
}
.bottomContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.heading {
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgba(38, 99, 255, 0.13);
}
.heading > input,
.heading > select {
  border: none;
  height: 35px;
  outline: none;
  background-color: #333;
  color: white;
  font-family: poppins;
  padding: 5px;
  width: 150px;
}
.chartContainer {
  height: 250px;
  display: flex;
  gap: 20px;

  border-bottom: 1px solid rgba(38, 99, 255, 0.13);

  padding: 20px;
}
.chart {
  height: 100%;
}
.chartContainer > p {
  flex: 1.5;
  border: 1px solid rgba(45, 86, 251, 0.311);
  background-color: rgba(45, 86, 251, 0.04);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.4em;
  font-weight: 500;
}
.chartContainer > p > span {
  font-size: 1.7em;
  font-weight: 600;
}
.chartCanvas {
  border: 1px solid rgba(45, 86, 251, 0.311);
  background-color: rgba(45, 86, 251, 0.04);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 3px;
  flex: 6;
}
