.container {
  height: calc(100% - 40px);
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow-y: scroll;
  padding: 10px 20px;
  gap: 20px;
  scrollbar-width: none;
}
.contentContainer {
  padding: 20px 30px;
  height: 100%;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid rgba(45, 86, 251, 0.311);
  background-color: rgba(45, 86, 251, 0.04);
  gap: 20px;
  overflow: scroll;

  border-radius: 5px;
}
.inputGroup {
  display: flex;
  width: 100%;
  color: var(--text-color);
  flex-direction: column;
  gap: 10px;
}
.inputGroup > p {
  font-size: 0.8em;
}
.inputGroup > input {
  height: 40px;
  border: 1px solid rgba(29, 229, 255, 0.611);
  outline: none;
  font-family: poppins;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  border-radius: 3px;
}
.inputGroup > select {
  height: 40px;
  border: 1px solid rgba(29, 229, 255, 0.611);
  outline: none;
  max-width: 120px;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  font-family: poppins;
  border-radius: 3px;
}
.generateButton {
  max-width: 300px;
  width: 100%;
  border: none;
  background-color: var(--secondary-color);
  padding: 8px;
  font-style: poppins;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.generatedContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  gap: 20px;
  position: relative;
}
.generatedContent > div {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.9em;
  position: relative;
  border: 1px solid gray;
}
.copyToClipBoard {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 30px;
}
.generatedContent > div:nth-child(1) {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.chatBotContainer {
  flex: 1;
  border: 1px solid rgba(45, 86, 251, 0.311);
  background-color: rgba(45, 86, 251, 0.04);
  padding: 15px;
  display: flex;
  color: var(--text-color);
  height: 100%;
  gap: 10px;
  flex-direction: column;
  border-radius: 5px;
}
.chats {
  flex: 1;
  display: flex;

  gap: 10px;
  flex-direction: column;
}
.chats div {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
  text-wrap: wrap;
  display: flex;
}
.chatInputGroup {
  width: 100%;
  color: var(--text-color);
  flex-direction: column;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.chatInputGroup > span {
  color: black;
  position: absolute;
  font-size: 20px;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;
  width: 13%;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.chatInputGroup > input {
  height: 100%;
  border: 1px solid rgba(29, 229, 255, 0.611);
  outline: none;
  padding: 10px;
  width: 100%;
  padding-right: 60px;
  font-size: 0.9em;
  font-family: poppins;
  font-weight: 400;
}
.loading {
  animation: rotate 1s linear infinite;
  display: inline-block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.buttonContainer > button {
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 15px;
  font-family: poppins;
  font-weight: 500;
}
