.mainContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.538);
  z-index: 5;
  display: flex;
  align-items: start;
  padding-top: 10px;
  justify-content: center;
  animation-name: easeIn;
  animation-duration: 150ms;
  backdrop-filter: blur(2px);
}
@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  border: 1px solid rgba(13, 40, 158, 0.307);
  background-color: #111111;
  border-radius: 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 50%;
  gap: 10px;

  color: white;
}
.header {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  padding-top: 20px;
  font-weight: 500;
  padding: 30px 25px;
  border-bottom: 1px solid rgba(38, 99, 255, 0.13);
}
.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contentContainer > hr {
  height: 1px;
  border: none;

  border-bottom: 1px solid rgba(38, 99, 255, 0.13);
}
.component {
  display: flex;
  gap: 10px;
}
.component > p:nth-child(1) {
  font-weight: 500;
}
.component > p:nth-child(2) {
  color: rgba(255, 255, 255, 0.729);
}
.component,
.dataset {
  width: 100%;
  padding: 10px 20px;
  font-size: 1.1em;
  align-items: start;
}
.dataset {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dataset > p:nth-child(1) {
  font-weight: 500;
}
.dataset > p:nth-child(2) {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.729);
}
