.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.458);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.innerContainer {
  width: 500px;
  overflow-x: hidden;
  padding: 20px 35px;
  border-radius: 3px;
  background-color: white;
  z-index: 2;
  animation-name: popup;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.progressContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.progressContainer::before {
  content: "";
  position: absolute;
  background-color: var(--line-border-empty);
  border: 1px solid var(--primaryColor);
  height: 4px;
  width: 95%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 3;
}
.progress {
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  transform: translateY(-50%);
  height: 4px;
  z-index: 3;
  transition: all 300ms ease-in;
}
.circle {
  z-index: 4;
  background-color: var(--primaryColor);
  width: 30px;
  border: 1px solid var(--secondary-color);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease-in;
}
.circle.active {
  background-color: var(--secondary-color);
  color: white;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 5px;
}
.inputGroup input {
  height: 40px;
  border-radius: 3px;
  outline: none;
  border: none;
  font-size: 1em;
  padding: 10px 10px;
  background-color: rgb(219, 241, 255);
}
.inputGroup input:focus {
  outline: 2px solid var(--primaryColor);
}
.inputGroup label {
  font-size: 0.9em;
  font-weight: 400;
  color: rgb(28, 28, 28);
}
.contentForm {
  padding: 20px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.back {
  animation-duration: 0.4s;

  animation-timing-function: ease-out;
}
.next {
  animation-duration: 0.4s;

  animation-timing-function: ease-out;
}
@keyframes slideToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 1.1em;
}
.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.button {
  outline: none;
  border: none;
  width: 70px;
  height: 30px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 2px;
  font-family: poppins;
  cursor: pointer;
}
.disabled {
  background-color: var(--primaryColor);
  cursor: not-allowed;
}
.InputContainer {
  gap: 10px;
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.character {
  border: 1px solid #69b7ff;
  font-size: 1.2em;
}
.characterInactive {
  background-color: rgb(219, 241, 255);
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.bodyContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resendOTP {
  display: flex;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.resendOTP > button {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid #69b7ff;
  font-family: poppins;
  cursor: pointer;
}
