.container {
  width: 100%;
  padding: 15px 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heading {
  width: 100%;
  font-size: 1.3em;
  font-weight: 500;
  padding: 10px 0;
  color: var(--text-color);
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #50b6ff;
  padding: 20px;
  border-radius: 3px;
  gap: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  color: var(--text-color);
  max-width: 340px;
  width: 100%;
}
.content > p:nth-child(1) {
  font-size: 1.2em;
  font-weight: 500;
}
.content > p:nth-child(3) {
  font-size: 0.9em;
  font-weight: 300;
}
.card > button {
  width: 100%;
  border: none;
  color: white;
  background-color: #50b6ff;
  padding: 10px;
  font-weight: 500;
  font-family: poppins;
}
